$red: #f44336;
$dark-red: #d32f2f;

nav {
    background-color: rgba(244, 67, 54, 0.7);
    font-family: 'Playfair Display', serif; 
    background-color: $red;
}
h1 {
    font-family: 'Playfair Display', serif;
}
.card-title {
    font-family: 'Playfair Display', serif;
    color: #000;
    background-color: $red;
    width: 100%;
}
.card, .card-action {
    background-color: #eee;
}

/*FOOTER STYLE*/
.page-footer {
    background-color: $red;
}
.footer-copyright {
    background-color: $dark-red;
}
.scroll-top {
    transition: 0.3s;
    &:hover {
        color: #fff;
        font-style: bold;
    }
}
#social-media > li {
    float: left;
    
}
.fa-facebook-official {
    transition: 0.3s;
    margin: 20px;
    height: 21px;
    line-height: 21px;
    width: 23px;
    &:hover {
        color: #3b5998;
        background-color: #fff;
    }
}
.fa-snapchat-square {
    transition: 0.3s;
    margin: 20px;
    line-height: 23px;
    height: 23px;
    width: 23px;
    border-radius: 25%;
    &:hover {
        color: #0f0f0f;
        background-color: #fffc00;
    }
}
.fa-twitter {
    transition: 0.3s; 
    margin: 20px;
    line-height: 23px;
    &:hover {
        color: #1da1f2;
    }
}
.footer-header {
    font-family: 'Playfair Display', serif;
}